html {
    height: 100%;
}

body {
    height: 100%;
    background-image:url("https://d3hmvhl7ru3t12.cloudfront.net/img/logos/overwatch-share-3d5a268515283007bdf3452e877adac466d579f4b44abbd05aa0a98aba582eeaebc4541f1154e57ec5a43693345bebda953381a7b75b58adbd29d3f3eb439ad2.jpg");
    background-repeat:no-repeat;
    background-size:100%;
}
a {
    text-decoration: none;
}

.main {
    height: 70%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.headerpic{
    height:50%;
    width:100%;
}
.navbar{
    display:flex;
    justify-content:center;
    justify-content:space-around;
}
.navbarword{
    color:#f78d02;
    font-size:30px;
}
.overwatch{
    display:flex;
    justify-content:center;
    font-size: 50px;
    color: #f78d02;
}
#words{
    display:flex;
    justify-content:center;
    font-size: 50px;
    color:#6be00b;
}
.rightPane{
    display:flex;
    justify-content:flex-end;
}
.rightintro{
    color:#efef1f;
    width:30%;
    font-size:20px;
}
.leftintro{
    color:#efef1f;
    width:30%;
    font-size:25px;
}
.owpic{
    width:70%;
}
.leftPane{
    display: flex;
}
