html {
    height: 100%;
}

body {
    height: 100%;
    background-image:url("https://d3hmvhl7ru3t12.cloudfront.net/img/logos/overwatch-share-3d5a268515283007bdf3452e877adac466d579f4b44abbd05aa0a98aba582eeaebc4541f1154e57ec5a43693345bebda953381a7b75b58adbd29d3f3eb439ad2.jpg");
    background-repeat:no-repeat;
    background-size:100%;
}
a {
    text-decoration: none;
}

.main {
    height: 70%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.headerpic{
    height:50%;
    width:100%;
}
.navbar{
    display:flex;
    justify-content:center;
    justify-content:space-around;
}
.navbarword{
    color:#f78d02;
    font-size:30px;
}
.overwatch{
    display:flex;
    justify-content:center;
    font-size: 50px;
    color: #f78d02;
}
#words{
    display:flex;
    justify-content:center;
    font-size: 50px;
    color:#6be00b;
}
.leftPane{
    display:flex;
    justify-content:flex-end;
    width:50%;
    color:#efef1f;
}
.leftintro{
    color:#efef1f;
    font-size:20px;
}
.owpic{
    display: flex;
    justify-content:center;
    border: 13px solid #efef1f ;
    
}

.aboutMain{
    display: flex;
}
p{
    color:#efef1f;
}
.gallery1{
    display: flex;
}
.thumbnail1{
    width:50%;
}
.thumbnail2{
    width:50%;
}
.gallery2{
    display: flex;
}
.thumbnail3{
    width:50%;

}
.thumbnail4{
    width:50%;
}
.thumbnail-image1{
    height:225px;
    width: 340px;
}
.thumbnail-image2{
    height:400px;
    width: 200px;
}
.thumbnail-image3{
    height:250px;
    width: 450px;
    border: 13px solid pink ;
}
.thumbnail-image4{
    height:255px;
    width: 600px;
}


